body{
  background: linear-gradient(to right, #03827b, #c45a21);
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}

.login-div{
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
   }

@media (min-width: 992px) {
  .login-div{
    margin-left: 25%;
    margin-right: 25%;
   }
}

.heading{
  text-align: center;
  color: #ffffff;
}

.link{
  color: rgba(255, 255, 255, 0.5);
}

.link:hover{
  text-decoration: none;
  color: #ed594e;

}